.index {
    &-page {

        .content {
            &-container {
                display: grid;
                padding: 10px;
                grid-template-columns: auto auto;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                align-content: center;
                justify-items: center;
            }
        }
    }
}